// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$gradient-blue: radial-gradient(#00E5F5, #2D9AFB);
$gradient-orange: linear-gradient(#FFCD63, #FAA500);
$blue-light: #00E5F5;
$blue-dark: #2D9AFB;
$orange-light: #FFCD63;
$orange-dark: #FAA500;
$text-dark: #2A0C01;
$white-light: #FFFDFD;
