    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 item text-center">
                        <h2>Emojiland</h2>
                        <p>Need to express your emotions creatively? On Emojiland you'll find the right emoji to express yourself fully! </p>
                    </div>
                    <div class="col item social">
                      <a href="https://www.linkedin.com/in/chlo%C3%A9-bourgeois/" target="_blank"><i class="fa-solid fa-face-smile-beam"></i></a>
                      <a href="https://www.linkedin.com/in/pierre-libran-4ba18586/" target="_blank"><i class="fa-solid fa-face-laugh-wink"></i></a>
                      <a href="https://www.linkedin.com/in/clarisse-fabr%C3%A8ges/" target="_blank"><i class="fa-solid fa-face-flushed"></i></a>
                      <a href="https://www.linkedin.com/in/valentin-courtin-pm/" target="_blank"><i class="fa-solid fa-face-grin-stars"></i></a>
                    </div>
                </div>
                <p class="copyright">Made with ❤️ at the Wagon!</p>
            </div>
        </footer>
    </div>
