
<div class= "category-card row d-flex justify-content-between">
<%= link_to "All emojis", request.path, class: "category-link col-2 selected" %>
<% Category.all.each do |category| %>
  <%= link_to category.name, "#{request.path}?category=#{category.id}", class: "category-link col-2" %>

<% end %>
</div>
