
<div class="container d-flex align-items-center">

    <%= link_to "< Back to my emojis", my_emojis_path, class: "btn-orange col-3 btn-booking-height"%>

  <h1 class="card-title my-4 col-9 superclassrelou"> Editing emoji</h1>
</div>


<div class= "container col-5" id="form-unicorn">
  <%= render "form", emoji: @emoji %>
</div>
<br>

<div>

  <%# <%= link_to "Show this emoji", @emoji %>

</div>
