<p style="color: green"><%= notice %></p>


<h1 class="card-title my-5">Welcome to Emojiland</h1>

<br>
<%# <%= "4 CATEGORIES" %>
<%# <label for="Categories">Choose a category:</label> %>
<div class="custom-select" style="width:200px;">


  <select name="emoji[category]" id="category">
    <option value="">Category</option>
    <option value="licorn">licorn</option>
    <option value="panda">panda</option>
    <option value="?">?</option>
    <option value="??">??</option>
  </select>

  
</div>
<br>

  <div class="d-flex justify-content-center">
    <div id="emojis" class="d-flex f-wrap">
      <% @emojis.each do |emoji| %>
        <div class="card-h m-3 p-0">
          <div class="cnt">
            <%= render emoji %>
          </div>
          <div id="card-hover">
            <%= link_to "Book emoji", emoji, class:"text-decoration-none" %>
          </div>
        </div>
      <% end %>
      <div class="col-3 m-3 p-3 d-flex justify-content-center align-self-center">
      </div>

    </div>
  </div>
