<h1 class="card-title my-5 col-12">Create your emoji</h1>

<div class= "container col-5" id="form-unicorn">
  <%= render "form", emoji: @emoji %>
</div>
<br>


<div class="container d-flex justify-content-between" id="unicorn">
    <%= image_tag 'licorne.png', alt: 'Unicorn', width: "360px", class:"d-inline-flex"%>
    <%= image_tag 'licorne_reverse.png', alt: 'Unicorn', width: "360px", class:"d-inline-flex"%>
  </div>
</div>
