.btn-orange {
  background: $gradient-orange;
  color: $text-dark;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  width: 182px;
  text-align: center;
  padding: 8px 0px;
  text-decoration: none;

  &:hover {
    background: $orange-dark;
  }
}

.btn{
  margin: 0px;
  padding: 8px 0px;
  &:hover {
    padding: 08px 0px;
    color: $text-dark !important;
    text-decoration: none;
    transition: none;
    }
}

.btn-booking-height{
  height: 50px;
  width: 220px;
  position: absolute;
}
