.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to right, #FFCD63, #FAA500);
  font-family: "RocknRoll One", sans-serif;
  color: #2A0C01;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
